Activity1

In [8]:
print(1 + 3)
print(10 / 2)
print(5 ** 2)

4
5.0
25

Activity2

In [9]:
print("python" + " basics")
print("AI " * 3)

python basics
AI AI AI

Activity3

In [11]:
fruit = "apple"
print(fruit)
fruit = 17
print(fruit)
x = str(3); y = int(3); z = float(3)
print(type(x), type(y), type(z))

apple
17
<class 'str'> <class 'int'> <class 'float'>

Activity4

In [12]:
mylist = ["apple", 34.5, "banana", 9]
print("Complete list:", mylist)
print("First element:", mylist[0])
print("Last element:", mylist[-1])
print("Sublist from index 1 to 2:", mylist[1:3])
print("Every second element:", mylist[::2])
mylist.append("grape")
print("List after appending 'grape':", mylist)
mylist.remove("banana")
print("List after removing 'banana':", mylist)
mylist[1] = 99.9
print("List after updating index 1:", mylist)

Complete list: ['apple', 34.5, 'banana', 9]
First element: apple
Last element: 9
Sublist from index 1 to 2: [34.5, 'banana']
Every second element: ['apple', 'banana']
List after appending 'grape': ['apple', 34.5, 'banana', 9, 'grape']
List after removing 'banana': ['apple', 34.5, 9, 'grape']
List after updating index 1: ['apple', 99.9, 9, 'grape']

Activity5

In [13]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Initial dictionary:", car)
print("Model of the car:", car["model"])
car["year"] = 2024
print("After updating 'year':", car)
car["color"] = "red"
print("After adding a new key 'color':", car)
removed_value = car.pop("model")
print("Removed 'model' key with value:", removed_value)
print("Dictionary after pop operation:", car)
last_item = car.popitem()
print("Removed the last inserted item:", last_item)
print("Dictionary after popitem:", car)
print("Get 'brand' safely:", car.get("brand"))
print("Get non-existing key safely (returns None):", car.get("engine"))
print("All keys:", car.keys())
print("All values:", car.values())
print("All items (key–value pairs):", car.items())
car_copy = car.copy()
print("Shallow copy of dictionary:", car_copy)
car.clear()
print("Dictionary after clearing all items:", car)

Initial dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Model of the car: Mustang
After updating 'year': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024}
After adding a new key 'color': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024, 'color': 'red'}
Removed 'model' key with value: Mustang
Dictionary after pop operation: {'brand': 'Ford', 'year': 2024, 'color': 'red'}
Removed the last inserted item: ('color', 'red')
Dictionary after popitem: {'brand': 'Ford', 'year': 2024}
Get 'brand' safely: Ford
Get non-existing key safely (returns None): None
All keys: dict_keys(['brand', 'year'])
All values: dict_values(['Ford', 2024])
All items (key–value pairs): dict_items([('brand', 'Ford'), ('year', 2024)])
Shallow copy of dictionary: {'brand': 'Ford', 'year': 2024}
Dictionary after clearing all items: {}

Actvity6

In [14]:
thisset = {"apple", "banana", "cherry"}
print("Initial set:", thisset)
set1 = {"abc", 34, True, 40, "male"}
print("Mixed-type set:", set1)
thisset.add("orange")
print("After adding 'orange':", thisset)
thisset.update(["grape", "mango"])
print("After adding multiple elements:", thisset)
thisset.remove("banana")
print("After removing 'banana':", thisset)
thisset.discard("papaya")
print("After attempting to discard 'papaya' (not present):", thisset)
removed_item = thisset.pop()
print("Removed an arbitrary element:", removed_item)
print("Set after pop operation:", thisset)
print("Is 'apple' in the set?", "apple" in thisset)
union_set = thisset.union(set1)
print("Union of thisset and set1:", union_set)
intersection_set = thisset.intersection(set1)
print("Intersection of thisset and set1:", intersection_set)
difference_set = thisset.difference(set1)
print("Difference (thisset - set1):", difference_set)
copy_set = thisset.copy()
print("Copy of the set:", copy_set)
thisset.clear()
print("Set after clearing all elements:", thisset)

Initial set: {'cherry', 'apple', 'banana'}
Mixed-type set: {True, 34, 'abc', 40, 'male'}
After adding 'orange': {'orange', 'cherry', 'apple', 'banana'}
After adding multiple elements: {'grape', 'mango', 'cherry', 'banana', 'apple', 'orange'}
After removing 'banana': {'grape', 'mango', 'cherry', 'apple', 'orange'}
After attempting to discard 'papaya' (not present): {'grape', 'mango', 'cherry', 'apple', 'orange'}
Removed an arbitrary element: grape
Set after pop operation: {'mango', 'cherry', 'apple', 'orange'}
Is 'apple' in the set? True
Union of thisset and set1: {True, 34, 'mango', 40, 'male', 'cherry', 'abc', 'apple', 'orange'}
Intersection of thisset and set1: set()
Difference (thisset - set1): {'apple', 'cherry', 'mango', 'orange'}
Copy of the set: {'apple', 'cherry', 'mango', 'orange'}
Set after clearing all elements: set()

Activity7

In [15]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Activity8

In [19]:
a, b = 33, 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

Activty9

In [20]:
for i in range(5):
   print("Number:", i)
for i in range(2, 7):
   print("From 2 to 6:", i)
for i in range(0, 10, 2):
   print("Even number:", i)
for i in range(5, 0, -1):
   print("Countdown:", i)
fruits = ["apple", "banana", "cherry"]
for index in range(len(fruits)):
   print("Index:", index, "Fruit:", fruits[index])
for i in range(10):
   if i % 2 != 0:
    print("Odd number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
From 2 to 6: 2
From 2 to 6: 3
From 2 to 6: 4
From 2 to 6: 5
From 2 to 6: 6
Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

Activity10

In [22]:
def my_function(fname, lname):
  print("Full name:", fname + " " + lname)
my_function("Emil", "Refsnes")
def kids_function(*kids):
  print("The youngest child is:", kids[2])
kids_function("Emil", "Tobias", "Linus")
def greet_user(name="Guest"):
 print("Hello,", name)
greet_user()
greet_user("Alice")
def describe_pet(**pet_info):
  print("Pet details:")
  for key, value in pet_info.items():
    print(key.capitalize() + ":", value)
describe_pet(animal='dog', breed='labrador', age=5)
def add_numbers(a, b):
  return a + b
result = add_numbers(10, 20)
print("Sum of numbers:", result)

Full name: Emil Refsnes
The youngest child is: Linus
Hello, Guest
Hello, Alice
Pet details:
Animal: dog
Breed: labrador
Age: 5
Sum of numbers: 30

1. Check if a number is prime

In [23]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

Enter a number: 3
3 is a prime number

2. List average of 10 numbers

In [24]:
numbers = [12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
average = sum(numbers) / len(numbers)
print(f"Average: {average}")

Average: 25.5

3. Student marks dictionary and topper

In [25]:
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

topper = max(students, key=students.get)
print(f"Topper: {topper} with {students[topper]} marks")

Topper: David with 95 marks

4. Set operations

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

5. Factorial using recursion

In [27]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = 5
print(f"Factorial of {num} is {factorial(num)}")

Factorial of 5 is 120

6. Fibonacci series using for loop

In [28]:
n = 10
a, b = 0, 1
print("Fibonacci series:")
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

7. Count vowels in a string

In [29]:
text = "Hello World"
vowels = "aeiouAEIOU"
count = 0
for char in text:
    if char in vowels:
        count += 1
print(f"Number of vowels: {count}")

Number of vowels: 3

8. Tuple max and min

In [30]:
numbers = (45, 12, 78, 23, 56, 89, 34)
print(f"Maximum: {max(numbers)}")
print(f"Minimum: {min(numbers)}")

Maximum: 89
Minimum: 12

9. Reverse user input string

In [31]:
text = input("Enter a string: ")
reversed_text = text[::-1]
print(f"Reversed string: {reversed_text}")

Enter a string: javed
Reversed string: devaj